---
layout: main
---

{% include navigation.html %}

<section class="hero u-section">
  <div class="hero__content u-wrap u-center-text">
    <a href="/" class="hero__logo">
      <img src="{{ SITEURL }}/assets/logo.svg" alt="">
    </a>

    <h1 class="hero__title u-alt-font">CMD+U Conference</h1>
    <p class="hero__tagline">The conference about all forms of testing your iOS apps.</p>
    <p class="hero__tagline">July 8th @ Barcelona</p>
    <a href="#tickets" class="btn btn--primary btn--large">Get tickets</a>
  </div>
</section>

<section class="manifesto u-section" id="manifesto">
  <div class="u-wrap manifesto__content">
    <div class="manifesto__conference">
      <h2 class="manifesto__title u-title">Conference Manifesto</h2>

      <p><b>CMD+U Conference</b> is the first conference for iOS and Swift Developers entirely focused on testing. The aim is to provide hands on best-in-class talks and examples from unit test to more complex end-to-end tests. This means the talks will be selected in order to cover as much parts of any app as possible, from the initial AppDelegate start, to Networking, Database, Controllers, UI, etc. The objective is to provide a good start for a non-seasoned engineer as well as deeper insight on a specific topic for more expert engineers. The format will be a conference, but we'll ask the speakers to provide all code related and step by step examples on a common github repo so you will be able to follow and get deep in. The objective is to get a mix between a workshop and a conference, and be highly technical. Also we will have a couple of "less technical" talks to balance the full day.</p>
    </div>

    <div class="manifesto__speakers">
      <h2 class="manifesto__title u-title">Speaker's Manifesto</h2>

      <p>As a speaker you are pledged to read and agree to the Code of Conduct and Conference Manifesto and/or to add amendments to improve it if you want.</p>

      <p>You'll be asked to share the code and slides of the conference with the attendees (a common github repo will be provided). We also encourage you to use an Open Source medium complex project, to help picture any technique in an un-simple scenario. In this matter if you (or your company) have a project already you're more than welcome to use it!</p>

      <p>You're also pledged to have fun :-)</p>
    </div>
  </div>
</section>

<section class="people u-section" id="speakers">
  <div class="u-wrap">
    <h2 class="u-title u-title--alt u-center-text">Speakers</h2>

    <ul class="people__list">
      <li>
        <a href="https://twitter.com/codermay" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/codermay.png" alt="">
          </span>
          <span class="people__name">Michael May</span>
          <span class="people__twitter">@codermay</span>
          <span class="people__presentation">Testing an Untested App</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/pepibumur" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/pepibumur.png" alt="">
          </span>
          <span class="people__name">Pedro Piñera</span>
          <span class="people__twitter">@pepibumur</span>
          <span class="people__presentation">Network Testing</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/chrismaddern" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/chrismaddern.png" alt="">
          </span>
          <span class="people__name">Chris Maddern</span>
          <span class="people__twitter">@chrismaddern</span>
          <span class="people__presentation">Test an SDK Embedded in Top Apps</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ayanonagon" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/ayanonagon.png" alt="">
          </span>
          <span class="people__name">Ayaka Nonaka</span>
          <span class="people__twitter">@ayanonagon</span>
          <span class="people__presentation">Testing in Swift: Protocols &amp; View Models</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/jdortiz" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/jdortiz.png" alt="">
          </span>
          <span class="people__name">Jorge Ortiz</span>
          <span class="people__twitter">@jdortiz</span>
          <span class="people__presentation">TDD for the Masses</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/neonacho" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/neonacho.png" alt="">
          </span>
          <span class="people__name">Boris Bügling</span>
          <span class="people__twitter">@neonacho</span>
          <span class="people__presentation">Testing ⌚️ Apps and Other Extensions</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kylefuller" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/kylefuller.png" alt="">
          </span>
          <span class="people__name">Kyle Fuller</span>
          <span class="people__twitter">@kylefuller</span>
          <span class="people__presentation">Testing without Xcode</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/peres" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/rui.png" alt="">
          </span>
          <span class="people__name">Rui Peres</span>
          <span class="people__twitter">@peres</span>
          <span class="people__presentation">Testing FRP code</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/lascorbe" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/luis.png" alt="">
          </span>
          <span class="people__name">Luis Ascorbe</span>
          <span class="people__twitter">@lascorbe</span>
          <span class="people__presentation">UI and 📸  testing</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/paulstringer" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/paulstringer.png" alt="">
          </span>
          <span class="people__name">Paul Stringer</span>
          <span class="people__twitter">@paulstringer</span>
          <span class="people__presentation">Acceptance Testing</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="schedule u-section" id="schedule">
  <div class="u-wrap">
    <h2 class="u-title u-center-text">Schedule</h2>

    <div class="schedule__grid">
      <div class="schedule__row">
        <p class="left">9:00</p>
        <p class="right u-center-text" style="background-color:#F5F5F5; color:rgba(74, 74, 74, 0.7);"> 👋  Registration</p>
      </div>

      <div class="schedule__row">
        <p class="left">10:00</p>
        <h3 class="right">Rui Peres - Testing FRP code</h3>
      </div>

      <div class="schedule__row">
          <p class="left">10:35</p>
          <h3 class="right">Jorge Ortiz - TDD for the Masses</h3>
      </div>

      <div class="schedule__row">
          <p class="left">11:10</p>
          <h3 class="right">Luis Ascorbe - UI and 📸  testing</h3>
      </div>

      <div class="schedule__row">
          <p class="left">11:45</p>
          <p class="right u-center-text" style="background-color:#F5F5F5; color:rgba(74, 74, 74, 0.7);"> ☕️  Coffee Break</p>
      </div>

      <div class="schedule__row">
          <p class="left">12:20</p>
          <h3 class="right">Kyle Fuller - Testing without Xcode</h3>
      </div>

      <div class="schedule__row">
          <p class="left">12:55</p>
          <h3 class="right">Pedro Piñera - Network Testing</h3>
      </div>

      <div class="schedule__row">
          <p class="left">13:30</p>
          <p class="right u-center-text" style="background-color:#F5F5F5; color:rgba(74, 74, 74, 0.7);"> 🍛 Lunch Break</p>
      </div>

      <div class="schedule__row">
          <p class="left">14:30</p>
          <h3 class="right">Boris Bügling - Testing ⌚️  Apps and Other Extensions</h3>
      </div>

      <div class="schedule__row">
          <p class="left">15:05</p>
          <h3 class="right">Chris Maddern - Test an SDK Embedded in Top Apps</h3>
      </div>

      <div class="schedule__row">
          <p class="left">15:40</p>
          <p class="right u-center-text" style="background-color:#F5F5F5; color:rgba(74, 74, 74, 0.7);"> ☕️ Coffee Break</p>
      </div>

      <div class="schedule__row">
          <p class="left">16:15</p>
          <h3 class="right">Paul Stringer - Acceptance Testing</h3>
      </div>

      <div class="schedule__row">
          <p class="left">16:50</p>
          <h3 class="right">Ayaka Nonaka - Testing in Swift: Protocols &amp; View Models</h3>
      </div>

      <div class="schedule__row">
          <p class="left">17:25</p>
          <h3 class="right">Michael May - Testing an Untested App</h3>
      </div>

      <div class="schedule__row">
          <p class="left">18:00</p>
          <p class="right u-center-text" style="background-color:#F5F5F5; color:rgba(74, 74, 74, 0.7);"> 🍻 Beers &amp; Mingle</p>
      </div>
    </div>
  </div>
</section>

<section class="tickets u-section" id="tickets">
  <div class="u-wrap">
    <h2 class="u-title u-title--alt u-center-text">Tickets</h2>

    <p>
    Every ticket includes access to the conference and talks, coffee, lunch and some goodies.<br>
    Also, student tickets are available upon request. Please drop us a line to {% include email.html %}
    </p>

    <div class="tickets__embed u-center-text">
      <iframe  src="//eventbrite.com/tickets-external?eid=25084436224&ref=etckt" frameborder="0" height="500" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" allowtransparency="false"></iframe>
      <a target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a>
    </div>
  </div>
</section>

<section class="sponsors u-section u-center-text" id="sponsors">
  <div class="u-wrap">
    <h2 class="u-title">Sponsors</h2>
    <div class="sponsors__note u-center-text">
    <p><b>Calling for Sponsors</b>: There are still plenty of opportunities for you or your company to get involved in <b>CMD+U Conference</b>.</p>

    <p>Please contact us at {% include email.html %} to find out more.</p>
    </div>

    <ul class="sponsors__list platinum">
      <li>
        <a href="http://shootr.com/" target="_blank" class="sponsors__item ">
          <span class="sponsors__image">
            <img src="{{ SITEURL }}/assets/shootr.png" alt="">
          </span>
        </a>
      </li>
    </ul>

    <ul class="sponsors__list silver">
      <li>
        <a href="http://fundingcircle.com/" target="_blank" class="sponsors__item">
          <span class="sponsors__image">
            <img src="{{ SITEURL }}/assets/fundingcircle.png" alt="">
          </span>
        </a>
      </li>

      <li>
        <a href="http://puck.eu" target="_blank" class="sponsors__item">
          <span class="sponsors__image">
            <img src="{{ SITEURL }}/assets/puck.png" alt="">
          </span>
        </a>
      </li>

      <li>
        <a href="http://keepcoding.io/es/" target="_blank" class="sponsors__item">
          <span class="sponsors__image">
            <img src="{{ SITEURL }}/assets/keepcoding.png" alt="">
          </span>
        </a>
      </li>
    </ul>

  </div>
</section>

<section class="people u-section" id="team">
  <div class="u-wrap">
    <h2 class="u-title u-title--alt u-center-text">Team</h2>

    <ul class="people__list">
      <li>
        <a href="https://twitter.com/wolffan" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/wolffan.png" alt="">
          </span>
          <span class="people__name">Raimon Lapuente</span>
          <span class="people__twitter">@wolffan</span>
          <span class="people__presentation">Organiser</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/veducm" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/veducm.png" alt="">
          </span>
          <span class="people__name">Edu Caselles</span>
          <span class="people__twitter">@veducm</span>
          <span class="people__presentation">Organiser</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/lascorbe" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/luis.png" alt="">
          </span>
          <span class="people__name">Luis Ascorbe</span>
          <span class="people__twitter">@lascorbe</span>
          <span class="people__presentation">NSSpain organiser / Advisor</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/Daniel1of1" target="_blank" class="people__item">
          <span class="people__image">
            <img src="{{ SITEURL }}/assets/daniel.png" alt="">
          </span>
          <span class="people__name">Daniel Haight</span>
          <span class="people__twitter">@Daniel1of1</span>
          <span class="people__presentation">NSLondon organiser / Advisor</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="location u-section u-center-text" id="location">
  <div class="u-wrap">

    <h2 class="u-title">Location</h2>

    <p><b>CMD+U Conference</b> will be held in Barcelona. In the <a href="https://www.google.es/maps/place/UPCnet,+Universitat+Polit%C3%A8cnica+de+Catalunya/@41.3904768,2.1134409,19z/data=!4m12!1m6!3m5!1s0x12a498506e013bdb:0xe27e5c874c9078b3!2sUPC:+Edifici+Vertex!8m2!3d41.3907154!4d2.1139327!3m4!1s0x0000000000000000:0x4af8f2280fadd918!8m2!3d41.3904621!4d2.1143197?hl=en" target="_blank">Vertex Building</a> of the Politechnical University of Catalonia.
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d95800.9574736099!2d2.165088!3d41.378866!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe27e5c874c9078b3!2sUPC%3A+Edifici+Vertex!5e0!3m2!1sen!2ses!4v1464605555463" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>

<section class="code-of-conduct u-section" id="code-of-conduct">
  <div class="u-wrap">
    <h2 class="u-title u-title--alt u-center-text">Code of Conduct</h2>

    <div class="code-of-conduct__columns">

      <p>To make clear what is expected, all attendees, speakers, exhibitors, organizers, and volunteers are required to conform to the following Code of Conduct. Organizers will enforce this code before and throughout the event.</p>

      <p><b>CMD+U Conference</b> is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.</p>

      <p>Harassment includes, but is not limited to: Verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion, Sexual images in public spaces, Deliberate intimidation, stalking, or following, Harassing photography or recording, Sustained disruption of talks or other events, Inappropriate physical contact, Unwelcome sexual attention, Advocating for, or encouraging, any of the above behavior.</p>

      <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

      <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>

      <p>If a participant engages in harassing behavior, conference organizers retain the right to take any actions to keep the event a welcoming environment for all participants. This includes warning the offender or expulsion from the conference with no refund.</p>

      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact one of the organizers immediately either in person, or by sending email to {% include email.html %}</p>

      <p>Conference organisers and helpers will be happy to help participants contact security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

      <p>We expect participants to follow these rules at conference venue and conference-related social events.</p>
    </div>
  </div>
</section>
