<header class="site-header">

  <div class="wrap">

    <nav class="site-nav">

      <div class="trigger">
        <a class="highlight page-link center" href="#speakers">Speakers</a>
        <a class="highlight page-link center" href="#code_of_conduct">Code of Conduct</a>
        <a class="highlight page-link center" href="#sponsors">Sponsors</a>
        <a class="highlight page-link center" href="#conference_manifesto">Conference Manifesto</a>
        <a class="highlight page-link center" href="#speakers_manifesto">Speaker's Manifesto</a>
        <a class="highlight page-link center" href="#team">Team</a>
        <a class="highlight page-link center" href="#location">Location</a>
        <!-- <a class="highlight page-link center" href="{{SITEURL}}/jobs">Jobs</a> -->

      </div>
    </nav>

  </div>

</header>
