<header class="site-header">

  <div class="wrap">

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
        <a class="page-link center" href="#speakers">Speakers</a>
        <a class="page-link center" href="#code_of_conduct">Code of Conduct</a>
        <a class="page-link center" href="#sponsors">Sponsors</a>
        <a class="page-link center" href="#conference_manifesto">Conference Manifesto</a>
        <a class="page-link center" href="#speakers_manifesto">Speaker's Manifesto</a>
        <a class="page-link center" href="#team">Team</a>

      </div>
    </nav>

  </div>

</header>
