<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - The conference about all forms of testing your apps for Mac OSX, iOS and Swift Developers.</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no" />

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,400italic' rel='stylesheet' type='text/css'>

    <!-- css -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Analytics -->
    {% include analytics.html %}

</head>
