<nav class="nav">
  <input type="checkbox" class="nav__menu-ctrl" id="nav-ctrl">
  <label for="nav-ctrl" class="nav__menu-icon">
    {% include icon-menu.svg %}
  </label>

  <div class="u-wrap nav__items">
    <a href="#manifesto">Manifestos</a>
    <a href="#speakers">Speakers</a>
    <a href="#schedule">Schedule</a>
    <a href="#tickets" class="nav__item-highlight">Tickets</a>
    <a href="#sponsors">Sponsors</a>
    <a href="#team">Team</a>
    <a href="#location">Location</a>
    <a href="#code-of-conduct">Code of Conduct</a>
    <a href="#jobs">Jobs</a>
  </div>
</nav>
