body {
  font-family: _font-family(main);
  line-height: 1.4;
  font-size: _font(medium);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: _color(cta-main);
}

a:hover {
  text-decoration: underline;
}

p {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.6;
}
