.code-of-conduct {
  background: _color(background-dark);
  color: _color(text-light);
}

.code-of-conduct__columns {
  @include breakpoint(from tablet-large) {
    column-count: 2;
    column-gap: 3rem;
  }
}
